.main-container{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.form-container{
    background-color: white;
    width: 40%;
    height:75%; 
}

.text-container{
    width:60%;
}

h1{
    font-size: 2.8rem; 
    font-family: 'PlayFair Display', serif; 
}

h2{
    font-size: 2rem; 
    color:#093f96;
}

.book, .display{
    font-size: 1.5rem; 
}