<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "root.css">
    <link rel = "stylesheet" href = "about.css">
    <title>About</title>

</head>
<body>
    <div class="topnav">
      
        <div class="item-container">
    
        <div class ="item-container-1">

           <div class = "name">&nbsp;Book Review Site </div>
        </div> 
    
        <div class ="item-container-2">
            <div class = "item item1"><a href ="home.html">Home </a></div>
            <div class = "item item2"><a class="active" href = "about.html">About</a></div>
        </div>   
        </div>
    
    </div>

    <div class = main-container> 

        <div class = "desc-container"> 

            <div class = "flex-container">
                <div class ="about-text"> <h1> About This Site</h1></div>
                <div class = "umd-photo"> <img src ="Images/umd-logo.png" height="453.978px" width = "645.12px"> </div>
            </div>
        </div>

        <div class = "desc-text-container"> 
           
            <div class ="desc-text"> 
                <h3>CMSC335 Final Project</h3>
                <p>This book revie website is designed to allow users to enter their own reviews and look up reviews from other users or specific books.</p>
                <p> Functionality includes:</p>
                <ul>
                    <li>Submit Review to book</li>
                    <ul>
                        <li>Add review to MongoDB</li>
                        <li>Include star rating</li>
                        <li>Review Text</li>
                    </ul>
                    <li>Lookup Review</li></li>
                </ul>
          
            </div>
  

        </div>



    </div>


</body>
</html>