<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Book Review</title>
</head>
<body>
	<h1>Welcome to Book Review</h1>
    <h2>Submit a review, or look at others!</h2>
    <ul>
        <li><a href="/review">Submit Review</a></li>
        <li><a href="/lookup">Lookup Review</a></li>
    </ul>
	<hr>
</body>
</html>