<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Review</title>
</head>
<body>
    <h1>Find a Review</h1><br><br>
    <h2>Enter a book name or a user to find the associated reviews</h2>
    <form action="/submit_review" method="post">
        <fieldset>
            <div>
                <div>
                    <label for="name"><b>Name:</b></label>
                    <input type="text" id="name" name="name">
                    <label for="email"><b>Email Address:</b></label>
                    <input type="email" id="email" name="email"><br><br>
                    <label for="book"><b>Book Title:</b></label>
                    <input type="text" id="book" name="book">
                    <label for="author"><b>Author:</b></label>
                    <input type="text" id="author" name="author"><br><br>
                    <label for="published"><b>Published:</b></label>
                    <input type="text" id="published" name="published">
                    <label for="summary"><b>Summary:</b></label><br>
                    <textarea name="summary" rows="10" cols="80"></textarea><br><br>
                </div>
                <div>
                    <label for="review"><b>Review:</b></label><br>
                    <textarea name="review" rows="10" cols="80"></textarea><br>
                </div>
            </div>
        </fieldset>
        <div>
            <br>
            <input type="reset" value="Reset">
            <input type="submit" value="Submit Application">
        </div>
    </form>

    <hr>

    <a href="/">HOME</a>
</body>
<script>
    window.onsubmit = () => { confirm("Are you sure you want to submit your application?\nYou will not be able to change your information once submitted.") }
</script>
</html>